<div ui-view class="news">
<h1><span class="page-title">О нас / About</span></h1>
</div>

<div class="content">
    <p>
    Alter Native Sun – это российское музыкальное движение, основанное в 2014 году.
    Движение объединяет электронных и живых музыкантов, играющих живьем с целью поиска нового звучания.
    </p>
    <p>
    Основная миссия Alter Native Sun – создание нового музыкального стиля,
    основанного на поиске нового звучания во время живых выступлений,
    синтеза электронных музыкантов с живыми инструменталистами.
    </p>
    <p>
    Мы не издаем музыку, которую музыканты пишут для себя дома.
    Мы издаем новую музыку, которые артисты пишут живьем и находим новый звук в настоящем моменте.
    Таким образом, движение стремится от каждого музыканта взять лучшее,
    чтобы развить общее дело, новое направление в музыке.
    </p>
</div>

