<div ui-view class="artist">
    <h1><span class="page-title">Артисты / Artists</span></h1>
    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <h2 class="artist-title">[[artist.name]]</h2>
            <carousel interval="5000" disable-animation="true">
                <slide ng-repeat="image in artist.images" active="slida.active">
                    <img ng-src="[[ image.preview_md ]]" />
                </slide>
            </carousel>
            <div class="artist-content">
                <div ng-bind-html='artist.biography'></div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 col-xs-6">
            <div class="release" ng-repeat="release in artist.releases">
                <h2 class="release-title">
                    <a ng-href="[[release.link]]" class="link">
                        [[ release.name | limitTo: 50 ]][[release.name.length > 50 ? '...' : '']]
                    </a>
                </h2>
                <div ng-bind-html="release.embed"></div>
            </div>
        </div>
    </div>
</div>
